body {
    font-size:14px;
    font-weight:300;
}
h3 {
    font-size:12px;
    font-weight:600;
    text-transform: uppercase;
}
.orange-text {
    color:#E65100;
}
.mb-0 {
    margin-bottom:0;
}
.resume {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "photo"
    "name"
    "about"
    "work"
    "education"
    "skills"
    "community"
    "references";
    grid-gap: 5px;
}
.grid-area {
    padding: 1em 1em 1em 1em;
}

.name {
    grid-area: name;
}

.photo {
    grid-area: photo;
}

.careerObjective {
    grid-area: careerObjective;
}

.references {
    grid-area: references;
}

.work {
    grid-area: work;
}

.tools {
    grid-area: tools;
}

.experience {
    grid-area: experience;
}

.accomplishments {
    grid-area: accomplishments;
}
.programming {
    grid-area: programming;
}
.awards {
    grid-area: awards;
}

/* align cv to center of page */

    .wrapper {
        padding       : 0;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        max-width:900px;
        margin:0 auto;
    }
@media (min-width: 900px) {
    .resume {
        display:grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "name photo"
            "about about"
            "work work"
            "education education"
            "skills skills"
            "community community"
            "references references";
        grid-gap: 5px;
    }
}

@media (min-width:1200px) {
    .resume {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content minmax(min-content, max-content) min-content;
        grid-template-areas:
            "name                name"
            "careerObjective     work"
            "experience          programming"
            "experience          tools"
            "experience          accomplishments"
            "experience          awards"
            "education           awards";
        grid-gap: 15px;
        min-width: 0;
        min-height:0;
    }
}
.education {
    grid-area:education;
}
html, body {
    font-family: 'Titillium Web', sans-serif !important;
}
.header-vh-100 {
    height:100vh;
}
.header-font {
    font-family: 'Playfair Display', serif !important;
}
.bg-bl {
    background-color:#17171d;
}
.header-main-text h1 {
    color:#fff;
    font-size:48px;
    opacity:0;
    visibility: hidden;
    transform:translateX(25px);
}
.header-main-text h2 {
    color:#fff;
    font-size:30px;
    opacity:0;
    visibility: hidden;
    transform:translateX(25px);
}
.header-main-text.active h1 {
    opacity:.90;
    visibility: visible;
    transform:translateX(0);
    transition:all 420ms cubic-bezier(.165,.84,.44,1) 320ms;
}
.header-main-text.active h2 {
    opacity:.25;
    visibility: visible;
    transform:translateX(0);
    transition:all 420ms cubic-bezier(.165,.84,.44,1) 350ms;
}
.f-light {
    font-weight:300;
}
.f-semi {
    font-weight:600;
}
.f-bold {
    font-weight:700;
}

@media (min-width: 1200px) {
    .header-main-text h1 {
        font-size:64px;
    }
}
