.ak--blue-container {
    background-color:#1989bd;
}
.ak--form-container {
    max-width:435px;
    margin:0 auto;
}
.fc-ak--input {
    background-color:rgba(0,0,0,0.1);
    border-color:rgba(0,0,0,0.1);
    color:#fff !important;
    padding: 12px 16px;
    height: auto;
}
.fc-ak--input:focus {
    background-color:rgba(0,0,0,0.1);
    border-color:rgba(255,255,255,0.5);
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.01);
}
.fc-ak--input::placeholder {
    color:#fff;opacity:.35;
}
@media (min-width: 1200px) {
    .ak--container {
        max-width:960px;
        margin:0 auto;
    }
}
@media (min-width: 1290px) {
    .ak--container {
        max-width:1440px;
        margin:0 auto;
    }
}