html, body {
    font-family: 'Titillium Web', sans-serif !important;
}
.bgDark {
    background-color:#121212;
}
.header-vh-100 {
    height:100vh;
}
.header-font {
    font-family: 'Playfair Display', serif !important;
}
.bg-bl {
    background-color:#17171d;
}
.header-main-text h1 {
    color:#fff;
    font-size:48px;
    opacity:0;
    transform:translateX(25px);
}
.header-main-text h2 {
    color:#fff;
    font-size:30px;
    opacity:0;
    transform:translateX(25px);
}
.header-main-text.active h1 {
    opacity:1;
    transform:translateX(0);
    transition:all 420ms cubic-bezier(.165,.84,.44,1) 320ms;
}
.header-main-text.active h2 {
    opacity:.87;
    transform:translateX(0);
    transition:all 420ms cubic-bezier(.165,.84,.44,1) 350ms;
}
.f-light {
    font-weight:300;
}
.f-semi {
    font-weight:600;
}
.f-bold {
    font-weight:700;
}

@media (min-width: 1200px) {
    .header-main-text h1 {
        font-size:64px;
    }
}