.navNothing {
  position: fixed !important;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
}
.ak-nav {
  height: 60px;
  padding: 0 16px !important;
}
.ak-nav a {
  color: rgba(0, 0, 0, 0.5);
}
.ak-nav a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
@media (min-width: 768px) {
  .ak-nav {
    padding: 0 !important;
  }
}
