.portfolio-header-text {
  margin-top: 135px;
  margin-bottom: 75px;
}
.project-header-container--innerImg {
  max-width: 90%;
  right: 0;
  text-align: right;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -50px;
}
.project-header-container--innerImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .portfolio-header-text {
    margin-top: 175px;
    margin-bottom: 125px;
  }
}
@media (min-width: 1280px) {
  .project-header-container--innerImg {
    max-width: 87%;
    right: 0;
    text-align: right;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -50px;
  }
}
@media (min-width: 1440px) {
  .project-header-container--innerImg {
    max-width: 87%;
    min-width: 1200px;
    right: 0;
    text-align: right;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -50px;
  }
}
