.ak-container--header {
  padding-top:100px;
  height: 90vh;
}
.ak--profile-image img {
  border-radius: 32px;
  z-index:2;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 2px 1px, rgba(0, 0, 0, 0.04) 0px 4px 4px 3px, rgba(0, 0, 0, 0.06) 0px 8px 6px 5px;
}
.dot-outer-container {
  bottom:-16px;left:135px;
}
.doc-right {
  top:-16px;left:auto;right:135px;
}
.dot-outer-container div {
  display:flex;
  margin-right:4px;
}
.dot-outer-container div:last-child {
  margin-right:0;
}
.dot-container {
  bottom:0px; left:135px;
}
.dot-container div {
  margin-bottom:4px;
}
.dot-container div:last-child {
  margin-bottom:0;
}
.c--container {
  border-radius:50%;
  width:8px;
  height:8px;
  background-color:#cdebf9;
  z-index:1;
}
.svg-1 {
  bottom:-90px;right:-20px;width:50%;
}
.svg-2 {
  top:-90px;left:-20px;width:50%;
  transform:rotate(180deg);
}
.light-container {
  background-color:#fff;
  display:inline-block;
  padding:8px 8px 8px 12px;
  border-radius:16px;
  box-shadow:0 8px 16px 0 rgb(0 0 0 / 10%);
}
.header-container a {
  background-color:#1873ca;
  padding:8px 20px;
  display:inline-block;
  margin-left:12px;
  border-radius:10px;
  color:#fff;
}
.header-container a:hover {
  text-decoration: none;
  background-color:#152238;
}
@media (min-width: 1200px) {
  .ak-container--header {
    height: 90vh;
  }
}
